<h1><b><%= @library.name %></b></h1>
<p><%= @library.country %></p>
<p><%= @library.body %></p>
<%= link_to "Редактировать", edit_library_path(@library), :class => 'btn btn-warning' %>
<%= link_to "Удалить", library_path(@library), method: :delete, :class => 'btn btn-danger' %>

